.title {
  font-size: 13px;
  font-weight: 600;
}

.channels-header {
  padding: 10px 5px 10px 5px;
}

.img {
  width: 30px;
  height: 30px;
  max-width: 30px;
  object-fit: cover;
  border-radius: 50%;
}